.contact_p {
    margin: 20px;
}

.contact {
    margin: 10px 10px;
    .forma {
        width: 100%;
        height: 25px;
    }

    .send_message {
        background-color: black;
        color: white;
        padding: 5px 10px;
    }
    
}




