.footer {
    margin: 5px;
    background-color: black;
    .footer_link {
        color: white;
    }

    
    a{
        text-decoration: none;
        color: white;
        display: inline;
    }
    
    
}