.main_container {
  padding: 0 10px;
  .house {
    display: flex;
    flex-wrap: nowrap;
    .parent {
      position: relative;
      margin: 20px 20px;
      .child {
        position: absolute;
        top: 0;
        left: 0;
        color: white;
        background-color: black;
        padding: 8px 16px;
        font-size: 17px;
        line-height: 1.5;
      }
      img {
        width: 290px;
        height: 190px;
        transition: 1s;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
